/* .price-input-container {
  position: relative;
  margin: 20px;
  width: 200px;
}



.price-input-wrapper {
  font-family: 'Segoe UI', sans-serif;
  margin: 1em 0 1em 0;
  max-width: 190px;
  position: relative;
}
.price-label {
  font-size: 100%;
  position: absolute;
  left: 0;
  padding: 0.8em;
  margin-left: 0.5em;
  pointer-events: none;
  transition: all 0.3s ease;
  color: rgb(100, 100, 100);
}
.price-input-wrapper :is(input:focus,input:valid)~.price-label{
  transform: translateY(-50%) scale(.9);
  margin: 0em;
  margin-left: 1.3em;
  padding: 0.4em;
  /* background-color: #e8e8e8; }*/
 
.price-input-wrapper :is(input:focus,input:valid)~label{
  border-color: rgb(150, 150, 200);

}


.price-input {
  font-size: 100%;
  padding: 0.8em;
  outline: none;
  border: 2px solid rgb(200, 200, 200);
  background-color: transparent;
  border-radius: 20px;
  width: 100%;
}

.price-icon {
  position: absolute;
  right: 10px;
  bottom: 10px;  color: #8a8a8a;
}

.price-arrow {
  position: absolute;
  right: -10px;
  bottom: 10px;
    color: #8a8a8a;
  cursor: pointer;
}

.dropdown-list {
  position: absolute;
  top: 100%;
  right: 0;
  background: #1e1e1e;
  border: 1px solid #8a8a8a;
  border-radius: 5px;
  list-style: none;
  padding: 0;
  margin: 5px 0 0;
  width: 50px;
  z-index: 10;
}

.dropdown-list li {
  padding: 5px;
  color: #8a8a8a;
  cursor: pointer;
}

.dropdown-list li:hover {
  background: #333;
}  
.inputGroup {
  margin: 1em 0 1em 0;
  max-width: 190px;
  position: relative;
}

.inputGroup input {
  font-size: 100%;
  padding: 0.8em;
  outline: none;
  border: 2px solid rgb(200, 200, 200);
  background-color: transparent;
  border-radius: 20px;
  width: 100%;
}

.inputGroup label {
  font-size: 100%;
  position: absolute;
  left: 0;
  padding: 0.4em;
  margin-left: 0.5em;
  margin-top: -2.5em;
  pointer-events: none;
  transition: all 0.3s ease;
  color: rgb(100, 100, 100);
  border-radius: 20px;
}


.inputGroup input:focus ~ label {
  transform: translateY(-190%) scale(0.9);
  margin: 0em;
  margin-left: 1.3em;
  padding: 0.4em;
  background-color: #0F111A;
  border-radius: 20px;
}

/* .inputGroup input:focus {
  border-color: rgb(150, 150, 200);
} */