.add-room-container {
    width: 650px;
    height: 1000px;
    margin: auto;
    margin-top: 4%;
    border: 1px solid #757373;
    border-radius: 5px;
    background-color: #0F111A;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    overflow: visible;
    color: white;
}

.upload-image {
    padding-left: 30%;
}

.inputs1 {
    display: flex;
    flex-direction: row;
    padding: 5%;
    gap: 5%;
}

<<<<<<< HEAD
.calender {
    height: 30px;
    display: inline-flex;
    align-items: baseline;
    flex-direction: row;
}

=======
>>>>>>> a81db4d666f0133670bec133baa2e5bf7877f053
.inputs2 {
    display: flex;
    flex-direction: row;
    gap: 5%;
    padding: 5%;
    align-items: center;
}

.select {
    padding: 11px 10px;
    font-size: 0.75rem;
    border: 1px #7796A9 solid;
    border-radius: 5px;
    background: #0F111A;
    color: white;
    width: 100%;
}

.add-room-container span {
<<<<<<< HEAD
    padding-left: 5%;
}

.iconCalender {
    position: relative;
    right: 10%;
=======
    padding-left: 1%;
>>>>>>> a81db4d666f0133670bec133baa2e5bf7877f053
}